.react-calendar {
  user-select: none;
  width: 100%;
  margin-bottom: 52px;
  background: white;
  border-radius: 17px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* line-height: 1.125em; */
  line-height: 0.8em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button:nth-child(2) {
  padding: 20px;
  text-align: left;
  order: -1;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

/* .react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
} */

.react-calendar__navigation__label__labelText {
  color: black;
  white-space: pre;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view {
  padding-top: 10px;
  padding-bottom: 10px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  color: #707070;
  /* text-transform: uppercase; */
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}

/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 15px;
  background: none;
  text-align: center;
  font-weight: 500;
  color:var(--whale-green-0);
}

/* .react-calendar__tile:disabled {
  background-color: #f0f0f0;
} */

/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
} */

/* .react-calendar__tile--now {
  background: #b9b9b9;
} */

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #70707070;
} */

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: var(--whale-green-3);
  border-radius: 5px;
  font-weight: bold;
  color: var(--whale-green-0);
  border:solid 1px var(--whale-green-0)!important;
}


/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #b9b9b9;
} */

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


/* 요일 점선 밑줄 없애기 */
abbr {
  text-decoration: none;
}

.year {
  font-size: 16px;
  color: #707070;
  font-weight: 600;
  line-height: 25px;
  color:var(--whale-green-0);
}

.month {
  font-size: 30px;
  font-weight: 900;
  color:var(--whale-green-0);
}


.react-calendar__navigation__arrow {
  position: relative;
  top: 30px;
  right: 10px;
}

.react-calendar__navigation__arrow:disabled {
  color: #ADADAD;
}