.todolist-time {
    font-size: 16pt;
    font-weight: 600;
    color: var(--whale-green-0);
}

.todolist-content {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}

.todolist-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
    font-size: 16pt;
    color: #707070;
}

.todolist-icons {
    color: var(--whale-green-0);
}

.todolist-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
    font-size: 10pt;
    font-weight: 100;
    color: #ADADAD;
}