.back {
    font-size: 20px;
    margin-bottom: 62px;
}

.time-alarm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-alarm i {
    font-size: 25px;
}

.date {
    font-size: 10pt;
    font-weight: 100px;
}

.time {
    font-size: 18pt;
    font-weight: 800;
}

.todo {
    margin: 54px 0px 24px 0px;
}

.todo-wrapper {
    height: 51px;
    width: 100%;
    border-radius: 15px;
    border: solid 1px #70707070;
}

.todo-wrapper input {
    height: 100%;
    width: 100%;
    padding:0px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: transparent;
    margin: 0px;
    overflow: hidden;
    font-size: 15pt;

}

.todo-wrapper input:focus{
    outline: none;
}

.link-wrapper {
    height: 51px;
    width: 100%;
    border-radius: 15px;
    background-color: #70707070;
}

.link-wrapper input {
    height: 100%;
    width: 100%;
    border:0px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 15pt;
    padding: 0px 10px;
    border-radius: 15px;
    color:white;
}

.link-wrapper input:focus{
    outline:none;
}

.link-wrapper input::placeholder {
    color: white;
}