.App {
    height: 100vh;
}

.main-page {
    height: 100%;
    padding: 45px 20px 32px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--whale-green-4);
}



.edit-page {
    margin: 54px 30px 54px 30px;
    color:var(--whale-green-0);
}